<!DOCTYPE html>
<html class="no-js" lang="eng">
 <head>
  <meta charset="utf-8"/>
  <meta content="ie=edge" http-equiv="x-ua-compatible"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <meta content="telephone=no" name="format-detections"/>
  <title>Welcome to Duck Blocks!</title>
  <link href="/static/foundation.min.css" rel="stylesheet"/>
  <link href="/static/style.css" rel="stylesheet"/>
 </head>
 <body>
  <div class="page-content">
    <div class="row">
      <div class="large-12 columns">
        <h1>Welcome to Duck Blocks!</h1>
        <h3><i>The CMS for those who dislike Coding</i></h3>
        <p>Duck Blocks aims to add a bit of simplicity to the process of
           building a web site. We do this by giving people like you the
           ability to work with a grid in order to lay out and place content.
           You simply drag and drop, point and click, and build whatever you
           want! Our interface is aimed at making things dead simple and once
           your finished, your design will be converted into HTML, CSS, and
           JavaScript files that you can simply upload to your web hosting!
           Click the button below to get started!</p>
           <form action="getStarted" method="POST">
             <button type="submit" class="submit-button">Get Started</button>
           </form>
      </div>
    </div>
  </div>
 </body>
